h1{
  font-size: 45px;
  padding: 20px;
  transition-duration: 0.4s;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,3);
  cursor: pointer;
}

h2{
  text-align: center;
  color : blue;
  font-family: sans-serif;
}
h1:hover{
  text-shadow: 2px 2px 4px rgb(255,0,0);
}
a.title{
  color:black;
  text-decoration: none;
}

a.title:visited{
  color:black;
  text-decoration: none;
}

a.vertical{
  text-decoration: none;
  color: black;
}

a.horizen{
  text-decoration: none;
}

ul{
}

li{
  margin: 40px 0;
}

li.vertical{
  display: block;
  padding : 20px;
  border-style: outset;
  margin-right : 60px;
  text-align:center;
  cursor: pointer;
}

li.vertical:hover{
  box-shadow: 2px 2px 4px yellow;
}

nav ul li.horizen{
  display:inline;
  border-left:1px solid black;
  padding:0 10px;
}
nav ul li.horizen:first-child{border-left:none;}

input[type=button],input[type=submit]{
  cursor: pointer;
  border-radius: 10px;
  border-style: outset;
}
input[type=button]:hover,input[type=submit]:hover{
  background :linear-gradient(gray,white);
  box-shadow: 2px 2px 4px gray;
}

tr:first-child{
  background-color: cyan
}

tr{
  width:100%;
}

td{
  width : 80px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  cursor:default;
}

td:first-child{
  border-left: 1px solid black;
}

td:nth-child(2){
  cursor: pointer
}

td:hover{
  background-color: yellow;
}
input{
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}

input.score_putin{
  width:50px;
}

input.search{
  width : 200px;
}

input.search_btn_class{
  margin : 0 auto;
}

div.grid1{
  border : none;
  height : 700px;
}

div.grid2{
  border : none;
  display :grid;
  grid-template-columns: : 30% 2fr;
}

div.main_content{
  overflow: scroll;
  height:700px;
}

div.adminlogin{
  border: 1px solid black;
  height: 700px;
  width: 240px;
  float:left;
  radius :25px;
}

div.loginform{
  width:inherit;
  text-align: center;
}
div.admin_login_is_here_div{
  text-align: center;
  background: linear-gradient(blue, skyblue);
  border-style: outset;
  color : white;
  font-style: bold;
  font-size: 16px;
}

div.sidemenu{
  width:240px;
  float:left;
  text-align: center;
}

div.footer{
  text-align: center;
  position: relative;
  border: 1px solid black;
  height:5%;
  clear: both;
}

div.reg{
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    width : 450px;
    margin : 0 434.5px;
}

div.loginedform{
  visibility: hidden;
  position: absolute;
  width:240px;
  height:100px;
}

div.search_table_content{
  height:700px;
  overflow:scroll;
}

div.logined_text{
  text-align: center;
  font-size: 24px;
}

div.delete_btn{
  font-style: bold;
}

div.login_manager_text_div{
  padding : 20px 40px;
}

div.wrapping_index_btn{

}

a{
  text-decoration: none;
}
